body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
   background-color: black;
   color: #fff;
   padding: 10px 20px;
 }

 nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
 }

 nav ul li {
   margin-left: 15px;
 }
 nav ul li a {
   text-decoration: none;
   color: #fff;
   font-size: small;
 }

 .left{
   display: flex;
   align-items: center;
 }
 .logo img
 {
     max-height:100px;
     max-width:100px;
 }

 .right{
   display: flex;
   align-items: center;
   margin-right: 10px;
 }
 .search-bar{
   display: flex;
   align-items:center;
   margin-right: 20px;
 }

.search-bar input[type="search"],
button[type="submit"]
{
 padding: 8px;
 background-color: #fff;
}

.icon{
   display: flex;
   align-items: center;
}
.icon img{
   height: 30px; /* Set the height for the bell icon */
   margin: 0 10px;
}


.dropdown {
   position: relative;
   display: inline-block;
   margin-right: 30px;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 120px;
   z-index: 1;
 }
 
 .dropdown-content a {
   display: block;
   padding: 10px;
   text-decoration: none;
   color: #333;
 }
 
 .dropdown-content a:hover {
   background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
 .dropbtn {
   background-color: transparent;
   color: #fff;
   border: none;
   cursor: pointer;
   align-items: center;
 }